html {
  box-sizing: border-box;
  font-family: Heebo, sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
}

nav a:focus {
  border-bottom: 1px;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  align-content: center;
  gap: 1em;
  padding: 0 .1rem;
  margin-right: 0;
  margin-top: 0;
  font-size: 1rem;
}

nav {
  background-color: #f7941d;
}

img {
  display: flex;
  width: 25%;
  margin-left: 2rem;
}

h1 {
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 2rem;
  color: #f7941d;
}

section h2 {
  font-family: Heebo, san-serif;
  font-weight: bold;
  color: #f7941d;
  text-align: left;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
  background-color: #fff;
}

@media only screen and (min-width: 20em) {

  .mainphoto p {
    text-align: left;
  }

  footer {
    display: block;
  }

}
