html {
  box-sizing: border-box;
  font-family: Heebo, sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
}

header img {
  margin-left: 2rem;
}

section h2 {
  font-family: Heebo, sans-serif;
  font-weight: 400;
  color: #f7941d;
  font-size: 3rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
  margin-top: 0;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-left: 2rem;
}
