html {
  box-sizing: border-box;
  font-family: Heebo, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  color: #231f20;
  background-color: #f7941d;
  padding: 0.5rem;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  align-content: center;
  gap: 1em;
  padding: 0 .1rem;
  margin-left: 2rem;
  font-size: 1rem;
  }

}

header img {
  margin-left: 2rem;
}

h2 {
  font-family: Heebo, sans-serif;
  font-weight: bolder;
  color: #f7941d;
  font-size: 2.4rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

main h2 {
  font-family: Heebo, sans-serif;
  color: #231f20;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 3rem;
}

main h3 {
  font-weight: bold;
  color: #231f20;
  font-size: 1.5rem;
  align-items: center;
  align-items: flex-end;
  padding: 0 .1rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

main ul li {
  list-style-type: none;
}

ul li h4 {
  font-weight: normal;
  margin-top: 0;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-left: 0rem;
}

@media only screen and (max-width:40em) {
  .mainphoto p {
    text-align: left;
  }

  footer {
    display: block;
  }
