html {
  box-sizing: border-box;
  font-family: Heebo, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff33b;
}

nav ul {
  display: f
  justify-content: space-around;
  background-color: inherit;
  list-style-type: none;
  padding: 0.5rem;
}

h2 {
  font-family: Heebo, sans-serif;
  font-weight: 500;
  color: #fff33b;
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
