html {
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner img {
  display: block;
  width: 80%;
}

img {
  display: block;
  width: 20%;
}

section ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding-left: 0;
}

main ul {
  display: grid;
  padding: 0;
}

main li {
  padding-top: .5rem;
  margin-bottom: 1.2rem;
}

.logo {
  width: 40%;
}

@media only screen and (min-width: 25em) {

  .logo {
    width: 20%;
  }
}

main h2 {
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0;
}

nav ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}
