html {
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner img {
  display: block;
  width: 100%;
}

section img {
  display: block;
  width: 30%;
}

section h1 {
  margin-bottom: .5rem;
  padding-left: .5rem;
  font-weight: bold;
  background-color: red;
}


section h2 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: bold;
  padding-top: 0rem;
  padding-left: .5rem;
  background-color: yellow;
}

section nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5rem;
  margin-right: 0rem;
  margin-top: 0;
  font-size: 1rem;
  background-color: green;
}


main ul {
  display: inline-flex;
  grid-template-columns: auto;
  grid-gap: 0.2rem;
  padding: 0;
  list-style-type: none;
}



@media only screen and (min-width: 25em) {

  .logo {
    width: 25%;
  }
}

main h2 {
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0;
}

nav ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}
