html {
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "banner banner"
  "col1 col2"
  gap: 1rem;
}

img {
  width: 100%
}

header {
  display: contents;
}

.logo {
  width: 2rem;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  z-index:1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
